<span class="modal-close"></span>
<div class="modal-media-title">Insert video</div>
<div class="modal-social-search">
    <div class="modal-social-search-input">
        <div class="tabs col-md-6 col-xs-12">
            <div class="ve-tab tab-video-pocket">Pocket (<span>{{video_count}}</span>)</div>
            <div class="ve-tab tab-video-search">Search</div>
        </div>
        <div class="search-panel col-md-6 col-xs-12">
            <input type="text" class="post-search-field" placeholder="Enter a title or keyword">
            <button class="app-btn-round pink search search-video-button"><i class="fa fa-search"></i></button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="modal-video-pocket" class="modal-social-tab">
        <div class="modal-video-pocket-result result-wrapper-scroll"></div>
    </div>
    <div id="modal-video-search" class="modal-social-tab">
        <div class="modal-video-search-result result-wrapper-scroll"></div>
    </div>
    <div class="action-buttons-panel text-right">
        <button class="app-btn-default pink action-add">Done</button>
        <button class="app-btn-default action-cancel">Cancel</button>
    </div>
</div>