<div class="customization_content" style="display: block;" campaign-id="1">
    <div class="welcome-header clearfix">
        <h3 class="pull-left">Create a new Call To Action button</h3>
    </div>
    <div class="clearfix row">
        <div class="col-md-6 column">
            <div class="form-group">
                <label for="buttonText">Button text:</label>
                <input type="text" class="form-control special" id="buttonText" value="">
            </div>
            <div class="form-group">
                <label for="targetUrl">Target URL:</label>
                <input type="text" class="form-control special" id="targetUrl" value="">
                <div class="helper">This URL will open then button is clicked</div>
            </div>
            <div class="form-group colors">
                <label for="buttonColor">Button color:</label>
                <div id="buttonColor">
                    <div class="color-picks clearfix colorHolder">
                        {{#each colors}}
                            <input type="radio" name="buttonColor" class="color-pick" value="{{this}}">
                            <a class="color-picking"><i class="fa fa-check" style="background: {{this}}"></i></a>
                        {{/each}}

                        <div class="colorSelector pull-right" style="width: 101px; margin-top: -5px;">
                            <input type="radio" name="buttonColor" class="color-pick" value="#000000">
                            <a class="color-picking color-holder"><i class="fa fa-check" style="background: black; margin-top: 5px;"></i></a>
                            <span class="color-picking no-color-holder">#000000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 column">
            <div class="clearfix preview-wrapper">
                <div class="col-md-12 column thumbnail-wrapper">
                    <img src="{{thumbnail}}" alt="" class="col-md-12 column popup-thumbnail pushOver">
                    <div class="compaig-wrapper" id="previewCta">
                        <div class="cta draggable">
                            <a href="#" class="button"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix top2 select_range_wrapper">
                CTA button will appear at
                <div class="select_range">
                    <input class="select_value" id="timeStart" type="text" value="" data-toggle="dropdown">
                    <div class="dropdown-menu" aria-labelledby="timeStart">
                        <div class="sliderWidget" id="timeStartSlider"></div>
                    </div>
                </div>
                and disappear at
                <div class="select_range">
                    <input class="select_value secondSelect" id="timeStop" type="text" value="" data-toggle="dropdown">
                    <div class="dropdown-menu" aria-labelledby="timeStop">
                        <div class="sliderWidget" id="timeStopSlider"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix top2">
                <div class="col-md-6 column" style="padding: 0">
                    <input type="checkbox" class="special" id="displayOnPause"><label for="displayOnPause"><span></span><span>Display if video is paused</span></label>
                </div>
            </div>
        </div>
        <div class="col-md-12 column top2">
            <input class="btn btn-lg btn-danger submitMarketing" id="addCompaign" type="button" value="Add campaign to video">
        </div>
    </div>
</div>
