<div class="action-buttons-page">
    <!-- <a href="#" id="post-draft-saved">Draft saved</a> -->
    <span class="pageDraftSaved">Draft saved</span>
    <a href="#" id="page-submit" class="app-btn-default pink">publish</a>
    <a href="#" id="page-cancel" class="app-btn-default">cancel</a>
</div>
<form id="page-form">
    <div class="title">
        <input name="title" autocomplete="off" class="title-input" placeholder="{{ placeholder }}" value="{{ title }}">
    </div>
    <div class="content">
        <div id="editor"></div>
    </div>
</form>