<div class="pocket-inner " style="display: {{#if countVideo}}block{{else}}none{{/if}};"  >
    <div class="header-window {{#if isMinification}}maximize{{else}}minimize{{/if}}">
        <div class="header-title"><b>Pocket</b><br/>{{countVideo}} videos</div>
        <i class="header-control "></i>
    </div>
    <div class="pocket-wrapper" {{#if isMinification}}style="max-height:0;"{{/if}}>

    </div>
</div>
