<div class="action-buttons-post">
	<!-- <a href="#" id="post-draft-saved">Draft saved</a> -->
	<a href="#" id="post-submit" class="app-btn-default pink">preview / publish</a>
</div>
<form id="post-form">
    <div class="title">
        <input name="title" class="title-input" autocomplete="off" placeholder="Post title" value="{{ title }}">
    </div>
    <div class="content">
        <div id="editor"></div>
    </div>
    <div id="postsRelatedShow"></div>
</form>
