<div id="gallery-media-region">
<div class="tabs col-md-8 col-xs-12">
	<div class="ve-tab tab-image-library">Image library (<span>{{count}}</span>)</div>
	<div class="ve-tab tab-image-posts">All the images in-use in your posts</div>
</div>
<div class="actions col-md-4 col-xs-12">
	<button class="app-btn-default pink pull-right action-add">Add new</button>
	<button class="app-btn-default pinkbg pull-right action-delete">Delete</button>
</div>
<div class="clearfix"></div>
<hr class="dashed">
<div id="tab-image-library" class="tab-content-gallery">
	<div class="tab-image-library-result result-wrapper-scroll"></div>
	<div class="clearfix"></div>
</div>
<div id="tab-image-posts" class="tab-content-gallery">
	<div class="tab-image-posts-result result-wrapper-scroll"></div>
	<div class="clearfix"></div>
</div>
</div>
<div id="gallery-empty-region" class="no-posts no-images">
	<h2>Your image library is empty</h2>
	<div class="announce">Click the button below to upload images</div>
	<a href="#" class="post-create action-add">Add new</a>
	<div class="image-library-empty">
		<img src="/images/posts/image-library-empty.png" alt=" "/>
	</div>
</div>