<span class="modal-close"></span>
<div class="modal-media-title">{{embedded_title}}</div>

<div class="modal-social-search-input">
    <div class="modal-social-search-input-inner">
        <input type="text" class="post-search-field" placeholder="{{placeholder}}">
        <a href="#" class="btn btn-app btn-primary no-radius">
            <i class="fa fa-search"></i>
        </a>
    </div>
</div>
<div class="modal-social-search-result"></div>
