<table class="table post-pages-table">
    <thead>
    <tr class="first">
        <th class="header-pages-checkbox">
            <input type="checkbox" class="select-on-check-all" name="selection_all" value="-2"><span class="my-checked-on fa fa-check-square" style="display: none;"></span><span class="my-checked-off fa fa-square-o" style="display: inline-block;"></span></th>
        <th class="header-pages-name">Title</th>
        <th class="header-pages-description">Author</th>
        <th class="header-pages-barge">Comments</th>
        <th class="header-pages-parent">Created</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
